<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-card>
    <img alt="foto-marcos" src="https://avatars.githubusercontent.com/u/150967993?v=4" />
    <ion-card-header>
      <ion-card-title>Marcos Filipe Reis</ion-card-title>
      <ion-card-subtitle>Turma: ADS0301M - Bangu</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Matricula: 22200575
    </ion-card-content>
  </ion-card>
</ion-content>